<div>
    <% if (locals.errors) { %>
        <div class="errors">
            You need to fix the following errors:
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.message %></li>
                <% });%>
            </ul>
        </div>
    <% } %>

    <div class="form-box" id='new_exercise'>
        <form action='<%= submitPath %>' method="POST">
            <input type="hidden" name='_method' value="patch">
            <div class="form-title">
                <h2 class='new-form-title'>Edit Review</h2>
            </div>

            <div class="input-box" id="new-form-input-box">
                <div class="label-input-box">
                    <label for="title">Title</label>
                    <input type="text" class="register-form-input" name="title" id="title" value="<%=review.title%>" placeholder="<%=review.title%>"/>
                </div>

                <div class="label-input-box">
                    <label for="score">Score</label>
                    <input type="number" class="register-form-input" name="score" id="score" value="<%=review.score%>" placeholder="<%=review.score%>"/>
                </div>

                <div class="label-input-box">
                    <label for="content">Content</label>
                    <textarea name="content" id="content" rows="4" cols="50" class="register-form-input-area" value="<%=review.content%>" placeholder="<%=review.content%>"><%=review.content%></textarea>
                </div>
            </div>

            <input type="submit" class="form-submit-button" id="new-form-button" value="Update Review">
        </form>

        <!-- <a href='<%= reviewPath %>'>Review Index</a> -->
    </div>
</div>